<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/webapp/home.css">
    <title>Homepage</title>
</head>
<body>
    <div id="container">
    <div id="nav">
        <h1>Welcome to the django app</h1>
    </div>
        <button type="submit" id="btn1"><a href="/signup">SignUp</a></button>
        <button type="submit" id="btn2"><a href="/signin">SignIn</a></button>
    </div>
</body>
</html>