<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/webapp/userPage.css">
    <title>UserPage</title>
</head>
<body>
    <div class="signin-box">
        <h1>Congrats you have made it in. Thank you.</h1>
        <button type="submit" id="btn1" method = "post"><a href="/signin">SignOut</a></button>
    </div>
</body>
</html>